@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'zig';
  src: url('../pages/components/zigfont.ttf');
  font-weight: 400;
  font-style: normal;
  }
  /* #f1f5f9; */
@layer base {
  body {
    background-color: #D8E9A8;
    ;
    
  }
}

h1{
  font-family: zig;
}

