@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'zig';
  src: url('../pages/components/zigfont.ttf');
  font-weight: 400;
  font-style: normal;
  }

@layer base {
  body {
    background-color: #f1f5f9;
    
  }
}

h1{
  font-family: zig;
}

